*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.DS_Store
.build/
.classpath
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vscode/
Carthage/
Pods/
bin/
build/
gradlew.bat
target/
xcuserdata

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
